{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for mcategory, message in messages %}
{% if mcategory == 'success' %}
<div class="alert alert-success">
{% elif mcategory == 'error' %}
<div class="alert alert-danger">
{% endif %}
{{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h2>{{ category.name }}</h2>
    <ul class="list-group">
      {% for item in category.items %}
      <li class="list-group-item">
        <a href="{{ url_for('edit_item', item_id=item.id) }}">
          {{ item.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
