{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form method="post" action="">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" name="name" value="{{ item.name }}">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description">{{ item.description }}</textarea>
      </div>
      <div class="form-group">
        <label for="category_id">Category</label>
        <select name="category_id">
          {% for category in categories %}
          {% if category.id == item.category_id %}
          <option value="{{ category.id }}" selected>{{ category.name }}</option>
          {% elif category.id == category_id %}
          <option value="{{ category.id }}" selected>{{ category.name }}</option>
          {% else %}
          <option value="{{ category.id }}">{{ category.name }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="text-right">
        {% if item %}
        <input type="submit" value="Edit" class="btn btn-success">
        <a href="{{ url_for('delete_item', item_id=item.id) }}" class="btn btn-danger">Delete</a>
        {% else %}
        <input type="submit" value="Submit" class="btn btn-success">
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock content %}
